## If Else

In [3]:
x =2
x == 1 # Checking the Equality

False

In [6]:
if x == 2:
    x = x + 1
x

3

In [7]:
x = 2
if x==1:     #   contain argument 
    x=x+1
elif x==2:   # contain argument 
    x=x*x
else :       # does not contain argument 
    x= x-1
x

4

#### elif ladder

In [11]:
a = 4
b = 3
if a>b:
    result = "If statement"
elif a < b:
    result = "Elif 1"
elif a == b:
    result = "Elif 2"
elif a > (b+1):
    result = "Elif 3"
elif (a+1) < b:
    result = "Elif 4"
else:
    result = "Unkonown Result"
result

'If statement'

#### Nested If Else

In [ ]:
if a>b:
    if (a+1)==b:
        return = "nested if 0"
    else:
        return = "else nested 0"
else:
    if a == b:
        return = "nested if 1"
    else:
        return = "nested else 2"

Empty list append list in it

In [21]:
# METHOD 1
people = []                       # Made a list
person = ["Tony", "Stark",48]
people.append(person)             #appending (adding) the lists 
person = ["Steve","Rodgers",102]
people.append(person)
person = ["Stephen", "Strange",42]
people.append(person)
person = ["Natasha","Romanof",36]
people.append(person)
person = ["Peter","Parker",16]
people.append(person)
people

[['Tony', 'Stark', 48],
 ['Steve', 'Rodgers', 102],
 ['Stephen', 'Strange', 42],
 ['Natasha', 'Romanof', 36],
 ['Peter', 'Parker', 16]]

#### For Loop

In [ ]:
# METHOD 2
ages=[]
total_age = 0.0
for p in people:
    age = p[2]
    total_age += age
#    ages.append(age)
total_age

In [22]:
total_age = 0
age = people[0][2]
total_age += age
age = people[1][2]
total_age += age
age = people[2][2]
total_age += age
age = people[3][2]
total_age += age
age = people[4][2]
total_age += age
total_age

244

In [23]:
average_age = total_age / len(people)
average_age

48.8

In [24]:
squared_ages = []
for p in people:
    squared_age = p[2] * p[2]
    squared_ages.append(squared_age)
squared_ages

[2304, 10404, 1764, 1296, 256]

In [25]:
# we can write this in one line 
squared_ages = [p[2] * p[2] for p in people]
squared_ages

[2304, 10404, 1764, 1296, 256]

In [26]:
# Dictionary
person = {"first_name":"Steve", "last_name":"Rodgers", "age":102}
person_list = []
for p in person:
    person_list.append(p)
person_list

['first_name', 'last_name', 'age']

In [27]:
person = {"first_name":"Steve", "last_name":"Rodgers", "age":102}
person_list = []
for p in person:
    value = person[p]
    person_list.append(value)
person_list

['Steve', 'Rodgers', 102]

In [28]:
person = {"first_name":"Steve", "last_name":"Rodgers", "age":102}
person_list = []
for p in person:
    value = person[p]
    person_list.append(value)
person_list

['Steve', 'Rodgers', 102]

#### While Loop

In [29]:
score =0
while score < 4:
    score +=1
score

4