
## Strings

In [2]:
# Initilize String (no diffrence bw '' & " ")
name = "Ayush"
name = """Ayush"""
name = '''Ayush'''

In [3]:
# to use ' in string use Escape function
name = 'My name is \'Ayush\' '
print(name)
name = "My name is 'Ayush'"
print(name)
name = """My name is ayush\""""
name

My name is 'Ayush'
My name is 'Ayush'

'My name is ayush"'

In [4]:
# benefit of tripple quote is we can write in multiple line
name = """My name is
 Ayush"""
name

'My name is\n Ayush'

**Accessing String**

In [5]:
name = "Honey Bunny"
# name[index]
name[2]

'n'

In [6]:
name[6:13]

'Bunny'

In [7]:
name[-5:]

'Bunny'

In [8]:
# if string contain character
"nny" in name

True

In [9]:
"oey" in name # need seq

False

#### Custom String Using Variable

In [10]:
first_name = "Ayush"
last_name = "Chaware"
name = "first_name:{},last_name:{}".format(first_name,last_name)
name

'first_name:Ayush,last_name:Chaware'

**f-strings** are available in Python 3.6 and later versions.(often preffered)

**.format()** is available in Python 2.7 and Python 3.x, making it more widely compatible across different Python versions.

In [11]:
print(f"my name is {first_name} {last_name}")

my name is Ayush Chaware

**Uppercase Lowercase**

In [12]:
name = "Ayush Chaware"
name.lower()

'ayush chaware'

In [13]:
name.upper()

'AYUSH CHAWARE'

Splitting the String  

**.split("from_where_you_to_seperete")**

In [19]:
name = "Hello my name is Ayush Chaware"
name.split(" ")

['Hello', 'my', 'name', 'is', 'Ayush', 'Chaware']

In [49]:
name = "heallo May Name ias AA"
name.split("a")

['he', 'llo M', 'y N', 'me i', 's AA']

In [48]:
name = "Ayush Chaware"
first_name, last_name = name.split()
print(first_name, last_name)

Ayush Chaware

In [25]:
match = "i. am. watching. cricket. match."
match.split(".")

['i', ' am', ' watching', ' cricket', ' match', '']

In [39]:
# Suppose we have a cricket match where India hit 2 wicket whereas pak 1 wicket
match_details = "India, Pakisthan, 2, 1"
match_details.split(",")

['India', ' Pakisthan', ' 2', ' 1']

In [51]:
# var1, var2 = string.split(",")[slicing of string (must me 2 var)]
# must contain i/p var = slicing ele
Ind, pak =match_details.split(",")[0:2]
print(Ind,pak)

India  Pakisthan

In [46]:
ind_wik, pak_wik = match_details.split(",")[2:4]
print(ind_wik,pak_wik)

 2  1

**Replace**

In [57]:
x = match_details.replace(",",":")
print(x)

India: Pakisthan: 2: 1

Another Method is **Join** : Change the seperator in string

In [62]:
# List ele to CSV
match_details = ['India', 'Pakisthan', '2', '1']
joined_details = ','.join(match_details)
joined_details

'India,Pakisthan,2,1'

In [63]:
len(match_details)

4

In [64]:
match_details = "India, Pakisthan, 2, 1"
len(match_details)

22

str   = "a, b, 1, 2"
index =  0  1  2  3
[0:2] = 0 1 = a b  (2nd index ingored [0:n] = 0 -> (n-1)