
## Strings

In [38]:
# Initilize String (no diffrence bw '' & " ")
name = "Ayush"
name = """Ayush"""
name = '''Ayush'''

In [39]:
# to use ' in string use Escape function
name = 'My name is \'Ayush\' '
print(name)
name = "My name is 'Ayush'"
print(name)
name = """My name is ayush\""""
name

My name is 'Ayush'
My name is 'Ayush'

'My name is ayush"'

In [30]:
# benefit of tripple quote is we can write in multiple line
name = """My name is
 Ayush"""
name

'My name is\n Ayush'

**Accessing String**

In [31]:
name = "Honey Bunny"
# name[index]
name[2]

'n'

In [32]:
name[6:13]

'Bunny'

In [33]:
name[-5:]

'Bunny'

In [34]:
# if string contain character
"nny" in name

True

In [40]:
"oey" in name # need seq

False

#### Custom String

In [44]:
first_name = "Ayush"
last_name = "Chaware"
name = "first_name:{},last_name:{}".format(first_name,last_name)
name

'first_name:Ayush,last_name:Chaware'