
## Strings

In [1]:
# Initilize String (no diffrence bw '' & " ")
name = "Ayush"
name = """Ayush"""
name = '''Ayush'''

In [2]:
# to use ' in string use Escape function
name = 'My name is \'Ayush\' '
print(name)
name = "My name is 'Ayush'"
print(name)
name = """My name is ayush\""""
name

My name is 'Ayush'
My name is 'Ayush'

'My name is ayush"'

In [3]:
# benefit of tripple quote is we can write in multiple line
name = """My name is
 Ayush"""
name

'My name is\n Ayush'

**Accessing String**

In [4]:
name = "Honey Bunny"
# name[index]
name[2]

'n'

In [5]:
name[6:13]

'Bunny'

In [6]:
name[-5:]

'Bunny'

In [7]:
# if string contain character
"nny" in name

True

In [8]:
"oey" in name # need seq

False

#### Custom String Using Variable

In [9]:
first_name = "Ayush"
last_name = "Chaware"
name = "first_name:{},last_name:{}".format(first_name,last_name)
name

'first_name:Ayush,last_name:Chaware'

**f-strings** are available in Python 3.6 and later versions.(often preffered)

**.format()** is available in Python 2.7 and Python 3.x, making it more widely compatible across different Python versions.

In [10]:
print(f"my name is {first_name} {last_name}")

my name is Ayush Chaware

**Uppercase Lowercase**

In [11]:
name = "Ayush Chaware"
name.lower()

'ayush chaware'

In [12]:
name.upper()

'AYUSH CHAWARE'

Splitting the String  

**.split("from_where_you_to_seperete")**

In [13]:
name = "Hello my name is Ayush Chaware"
name.split(" ")

['Hello', 'my', 'name', 'is', 'Ayush', 'Chaware']

In [14]:
name = "heallo May Name ias AA"
name.split("a")

['he', 'llo M', 'y N', 'me i', 's AA']

In [15]:
name = "Ayush Chaware"
first_name, last_name = name.split()
print(first_name, last_name)

Ayush Chaware

In [16]:
match = "i. am. watching. cricket. match."
match.split(".")

['i', ' am', ' watching', ' cricket', ' match', '']

In [17]:
# Suppose we have a cricket match where India hit 2 wicket whereas pak 1 wicket
match_details = "India, Pakisthan, 2, 1"
match_details.split(",")

['India', ' Pakisthan', ' 2', ' 1']

In [18]:
# var1, var2 = string.split(",")[slicing of string (must me 2 var)]
# must contain i/p var = slicing ele
Ind, pak =match_details.split(",")[0:2]
print(Ind,pak)

India  Pakisthan

In [19]:
ind_wik, pak_wik = match_details.split(",")[2:4]
print(ind_wik,pak_wik)

 2  1

**Replace**

In [20]:
x = match_details.replace(",",":")
print(x)

India: Pakisthan: 2: 1

Another Method is **Join** : Change the seperator in string

In [21]:
# List ele to CSV
match_details = ['India', 'Pakisthan', '2', '1']
joined_details = ','.join(match_details)
joined_details

'India,Pakisthan,2,1'

In [22]:
len(match_details)

4

In [23]:
match_details = "India, Pakisthan, 2, 1"
len(match_details)

22

In [62]:
names = "ayush,GDSC\nAbhijeet,IEEECS\nMohit,IEEECIS\nHarshal,IEEECS\n"
names

'ayush,GDSC\nAbhijeet,IEEECS\nMohit,IEEECIS\nHarshal,IEEECS\n'

In [63]:
names = names.split("\n")
names

['ayush,GDSC', 'Abhijeet,IEEECS', 'Mohit,IEEECIS', 'Harshal,IEEECS', '']

In [56]:
for n in names:
    row = n.split(",")
    row

In [65]:
names = "ayush,GDSC\nAbhijeet,IEEECS\nMohit,IEEECIS\nHarshal,IEEECS\n"
sep = names.split()
list = [n.split(",") for n in sep]
list

[['ayush', 'GDSC'],
 ['Abhijeet', 'IEEECS'],
 ['Mohit', 'IEEECIS'],
 ['Harshal', 'IEEECS']]