## Data Types

### 1.  Integer

In [1]:
1

1

### 2. Float

In [2]:
1.0

1.0

In [3]:
2.5

2.5

### 3. String 
Can be either in '.' "."

In [4]:
"2.4"

'2.4'

Check the type of variable by type()

### 4. Complex number
a + bi

In [27]:
y = 3 +  5j
y

(3+5j)

In [29]:
x = 5j
x

5j

In [34]:
# to access the imaginary and real part
y.real

3.0

In [35]:
y.imag

5.0

In [37]:
# can also use build-In function
a = 3
b = 4
c = complex(a,b)
c

(3+4j)

In [40]:
# add sub mul div
c * 2
c / 2
c - 10

(-7+4j)

add/Sub updates the real part only but Mul/Div updates the real as well as Imag part

### 4. Boolen Values
True or False ( 0 or 1 )

In [43]:
x = True
y = False
x

True

In [50]:
y = bool(0.0)
# y
z = bool(-10)
z

True

< 0 > -> True

0 -> False


treats any value as 0 or 0.0 as False and any other value to be True

**Operations**

In [73]:
x = True # 1
y = False # 0
# try T T, T F , F F

In [79]:
x + y # 1+0

2

In [80]:
x-y # 1-0

0

In [81]:
x * y # 1*0

1

In [82]:
x / y  #1/0

1.0

**Byte, Byte Array, Memory view**

In [84]:
x = b"My Name is Ayush"
x

b'HElloworld'

In [86]:
bytearray(6)

bytearray(b'\x00\x00\x00\x00\x00\x00')

In [87]:
memoryview(bytes(5))

we can Concatinate byte string

In [88]:
x = b"My Name is Ayush."
y = b"Currentlly in my 2nd year"
x + y

b'My Name is Ayush.Currentlly in my 2nd year'

### ( + ) Operator
Int/Float and Int/Float ✅
Str and Str ✅
Str and Int/float ❎

In [10]:
x = 12
y = 4.1
z = x + y
z

16.1

**Concatination** Powerfull Tool to deal with Stringss

In [13]:
# Concatinating Str with String 
x = "10"
y = "16.0"
z = x + y
z
# type(z)

'1016.0'

In [14]:
# cocatinating Str with Int
x = "10"  # string
y = 16    # Int
z = x + y
z

TypeError: can only concatenate str (not "int") to str

Giving the error i.e fails concatination with str & Int

In Python you cannot mix a string and integer or string and float

### ( - ) Operator
Int/Float and Int/Float ✅
Str and Str/Int/float ❎

**NOTE** : same for * and / i.e to deal with string we can only use + k/as Concatination

### ( * ) Operator
Int/Float and Int/Float ✅
Str and Str/Int/float ❎

In [21]:
x = 32
y = 34.5
x * y

1104.0

### ( / ) Operator
Int/Float and Int/Float ✅

In [20]:
x = 45
y = 43.3
x/y

1.0392609699769053