## Data Types

### 1.  Integer

In [4]:
1

1

### 2. Float

In [5]:
1.0

1.0

In [6]:
2.5

2.5

### 3. String 
Can be either in '.' "."

In [7]:
"2.4"

'2.4'

Check the type of variable by type()

### 4. Complex number
a + bi

In [8]:
y = 3 +  5j
y

(3+5j)

In [9]:
x = 5j
x

5j

In [10]:
# to access the imaginary and real part
y.real

3.0

In [11]:
y.imag

5.0

In [12]:
# can also use build-In function
a = 3
b = 4
c = complex(a,b)
c

(3+4j)

In [13]:
# add sub mul div
print(c * 2)
print(c / 2)
print(c - 10)

(6+8j)
(1.5+2j)
(-7+4j)

add/Sub updates the real part only but Mul/Div updates the real as well as Imag part

### 4. Boolen Values
True or False ( 0 or 1 )

In [14]:
x = True
y = False
x

True

In [15]:
y = bool(0.0)
# y
z = bool(-10)
z

True

< 0 > -> True

0 -> False


treats any value as 0 or 0.0 as False and any other value to be True

**Operations**

In [16]:
x = True # 1
y = False # 0
# try T T, T F , F F

In [17]:
x + y # 1+0

1

In [18]:
x-y # 1-0

1

In [19]:
x * y # 1*0

0

In [20]:
x / y  #1/0

ZeroDivisionError: division by zero

**Byte Literal, Byte Array, Memory view**

In [ ]:
x = b"My Name is Ayush"
x

In [ ]:
bytearray(6)

In [ ]:
memoryview(bytes(5))

we can Concatinate byte string

In [ ]:
x = b"My Name is Ayush."
y = b"Currentlly in my 2nd year"
x + y

### ( + ) Operator
Int/Float and Int/Float ✅
Str and Str ✅
Str and Int/float ❎

In [ ]:
x = 12
y = 4.1
z = x + y
z

In [ ]:
# fstring
name = 'ayush'
print(f"My name is {name}")

**Concatination** Powerfull Tool to deal with Stringss

In [ ]:
# Concatinating Str with String 
x = "10"
y = "16.0"
z = x + y
print(z) # joins the two string
type(z)

In [ ]:
# cocatinating Str with Int
x = "10"  # string
y = 16    # Int
z = x + y
z

Giving the error i.e fails concatination with str & Int

In Python you cannot mix a string and integer or string and float

### ( - ) Operator
Int/Float and Int/Float ✅
Str and Str/Int/float ❎

In [ ]:
x = '5'
y = '6'
x - y

**NOTE** : same for * and / i.e to deal with string we can only use + k/as Concatination

### ( * ) Operator
Int/Float and Int/Float ✅
Str and Str/Int/float ❎

In [ ]:
x = 10
y = "34.5"
x * y # prints the y 10 times (str print int times)

In [ ]:
x = "10"
y = 5
x * y

### ( / ) Operator
Int/Float and Int/Float ✅

In [ ]:
x = 45
y = 43.3
x/y