## 7. Dictionary
Key value Pair

i=It is mutable

X = {"key" : "Value","key" : "Value","key" : "Value"}

#### Method 1 : from Scratch

In [47]:
dic = {"Name":"Ayush", "age" : 19, "Salary":1}
dic

{'Name': 'Ayush', 'age': 19, 'Salary': 1}

#### Method 2 : Empty dictionary

In [15]:
dic= {}
dic["name"] = "Ayush"
dic["Position"] = "Student"
dic["salary"] = 1
dic

{'name': 'Ayush', 'Position': 'Student', 'salary': 1}

#### Method 3 : BuildIn function

In [52]:
d = dict(name = "Ayush", age=19 , salary=1)
d

{'name': 'Ayush', 'age': 19, 'salary': 1}

**Accessing Items**

In [53]:
d.items()

dict_items([('name', 'Ayush'), ('age', 19), ('salary', 1)])

**Accessing the key ele**

In [54]:
d.keys()

dict_keys(['name', 'age', 'salary'])

**Accessing the Value ele**

In [55]:
d.values()

dict_values(['Ayush', 19, 1])

if you want to access them like we would a list we can cast them as such and access the relevant index positions.

In [56]:
list(d.values())[:-1]

['Ayush', 19]

In [58]:
list(d.items())[0]

('name', 'Ayush')

In [59]:
list(d.keys())[-1]

'salary'

#### Accessing the elements in Dict

In [21]:
d['name']

'Ayush'

In [22]:
d['age']

19

In [48]:
d.get('age')

19

In [23]:
d['position'] # key not in dict

KeyError: 'position'

**key not in dict but we want to solve the keyerror of the key ele**

to overcome the error

### Handling of Error

In [26]:
# Exceptional Handeling
try:
    position = d['position']
except:
    position = None
    
position

as we can observe before keyerror was 'position" to over come this error we just make a function so that the program will run w/o error

### Functions

In [34]:
dic = {"Name":"Ayush", "age" : 19, "Salary":1}

**Pop**

In [35]:
#  Pop() : removes the specified key value pair
dic.pop('age')

# another way
del dic["Name"]

**popitem**

In [36]:
# popitem() : removes last key value pair
dic.popitem()

('Salary', 1)

In [39]:
dic['name']="Ayush"
dic

{'name': 'Ayush'}

**Assign One Dict to other**

In [ ]:
dic = dic2

**Copy the dict**

In [41]:
dic2 =dic.copy()
dic2

{'name': 'Ayush'}

**to clear all dict**

In [42]:
dic.clear()
dic

{}

**i.e Multiple Keys with same Value  = formkeys()** 

Multiple Empolyee with same Salary

Gender is Male or Female

In [43]:
x = ('key1','key2','key3')
y = 5
z = dic.fromkeys(x,y)
z

{'key1': 5, 'key2': 5, 'key3': 5}