## Sets {'--'}
Sets is that they cannot contain duplicate values so can be useful for storing unique values.

In [1]:
name = {"Ayush", "Harshal","Mohit"} # no duplicate values
name

{'Ayush', 'Harshal', 'Mohit'}

In [9]:
name = {"Ayush","Ayush","Harshal","Mohit",2,4,5} #adding int to set
name

{2, 4, 5, 'Ayush', 'Harshal', 'Mohit'}

In [10]:
# the order printed is not same as we puy into it (dict)
name = set({"Ayush","Harshal","Mohit",2,4,5}) 
name

{2, 4, 5, 'Ayush', 'Harshal', 'Mohit'}

In [11]:
# Tupple
name =("Ayush","Harshal","Mohit",2,4,5) 
sets_name = set(name)
sets_name

{2, 4, 5, 'Ayush', 'Harshal', 'Mohit'}

In [12]:
# List
name = ["Ayush","Harshal","Mohit",2,4,5]
sets_name = set(name) 
sets_name

{2, 4, 5, 'Ayush', 'Harshal', 'Mohit'}

In [20]:
# set1 = {"Aysuh"}
name ={'Ayush'}
name

{'Ayush'}

In [22]:
# lets put duplicate value
name = set('mastrodomenico') # repeted o, m, (case sensetive)
name

{'a', 'c', 'd', 'e', 'i', 'm', 'n', 'o', 'r', 's', 't'}

**Add List Dict Tupple in Sets**

In [24]:
# Try to add List in sets
my_set = {'Tony','Wanda', 1, 2, ['hello','world']}
# unhashable list

TypeError: unhashable type: 'list'

In [25]:
# same with dict
my_set = {'Tony','Wanda', 1, 2, {'key':'value'}}
# Unhashable dict

TypeError: unhashable type: 'dict'

In [26]:
# with tupple it works
my_set = {'Tony','Wanda', 1, 2, (1,2,3)}
my_set

{(1, 2, 3), 1, 2, 'Tony', 'Wanda'}

**Check the value on Sets**

In [27]:
'Tony'  in my_set #case sensetive

True

In [28]:
# add item
names = {'AYush','Harshal',"Mohit"}
names.add("Abhijeet")
names

{'AYush', 'Abhijeet', 'Harshal', 'Mohit'}

**Union |(OR)**

In [39]:
# we can have duplicates in list dict tupple 
# to make it set
# let's have a list
names = {'Ayush','Harshal',"Mohit","Ayush","Harshal","Harshal","Mohit"}
updated_name = set(names)
print(set(updated_name))
print(set('name'))
print(set(name))

{'Mohit', 'Harshal', 'Ayush'}
{'a', 'm', 'n', 'e'}
{'a', 'r', 't', 's', 'o', 'n', 'e', 'i', 'c', 'm', 'd'}

In [45]:
# Obtain All Values from two Sets
names = {'Tony','Peter','Natasha','Wanda',"Ayush"}
more_names = {'Steve', "Peter","Ayush",'Carol', 'Wanda'}
names | more_names # OR operator

{'Ayush', 'Carol', 'Natasha', 'Peter', 'Steve', 'Tony', 'Wanda'}

In [46]:
# union of two sets (comman Values)
names.union(more_names)
# same results no need to pass union in sets

{'Ayush', 'Carol', 'Natasha', 'Peter', 'Steve', 'Tony', 'Wanda'}

In [47]:
# set
names = {'Steve', 'Peter', 'Carol', 'Wanda'}
# List
more_names = ['Tony','Peter','Natasha','Wanda']
names.union(more_names)
# vive versa Error

{'Carol', 'Natasha', 'Peter', 'Steve', 'Tony', 'Wanda'}

In [48]:
names | more_names
#Typeerror: OR unsupported for lis

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [61]:
# (OR) of two or more sets (Union Unsupported)
names = {'Tony','Peter','Natasha','Wanda','Ayush'}
more_names = {'Steve', 'Peter', 'Carol', 'Wanda','Ayush'}
even_more_names = {'Tony', 'Jonny', 'Sue', 'Wade','Ayush'}

names | more_names | even_more_names #got all uniquue values from all
# names.union() # Unsupported

{'Ayush',
 'Carol',
 'Jonny',
 'Natasha',
 'Peter',
 'Steve',
 'Sue',
 'Tony',
 'Wade',
 'Wanda'}

In [62]:
# Union set to list (OR supported)
names = {'Tony','Peter','Natasha','Wanda','Ayush'}
more_names = ['Steve', 'Peter', 'Carol', 'Wanda']
even_more_names = ['Tony',"Ayush", 'Jonny', 'Sue', 'Wade']

names.union(more_names,even_more_names)
# names | more_names | even_more_names #Unsupported

{'Ayush',
 'Carol',
 'Jonny',
 'Natasha',
 'Peter',
 'Steve',
 'Sue',
 'Tony',
 'Wade',
 'Wanda'}

**& (and)**

In [64]:
names = {'Tony','Peter','Natasha','Wanda','Ayush'}
more_names = {'Steve', 'Peter', 'Carol', 'Wanda','Ayush'}
even_more_names = {'Tony', 'Jonny', 'Sue', 'Wade','Ayush'}

names & more_names & even_more_names # common in all

{'Ayush'}

In [67]:
names.intersection(more_names,even_more_names)

{'Ayush'}

In [70]:
# add set and list
names = {'Tony','Peter','Natasha','Wanda','Ayush'}
more_names = ['Steve', 'Peter', 'Carol',"Ayush", 'Wanda']

# names & more_names # unsupported
names.intersection(more_names,even_more_names)

{'Ayush'}

-

In [71]:
names = {'Tony','Peter','Natasha','Wanda'}
more_names = {'Steve', 'Peter', 'Carol', 'Wanda'}

names - more_names

{'Natasha', 'Tony'}

In [72]:
even_more_names = {'Peter', 'Jonny', 'Sue', 'Wade'}
print(names - more_names - even_more_names)
print(names.difference(more_names, even_more_names))

{'Natasha', 'Tony'}
{'Natasha', 'Tony'}

**Experinments**

In [52]:
name = "Ayush"
print(set('Ayush'))
print(set(name))
print(set('name'))

{'h', 's', 'y', 'u', 'A'}
{'h', 's', 'y', 'u', 'A'}
{'a', 'm', 'n', 'e'}