## Sets {'--'}
Sets is that they cannot contain duplicate values so can be useful for storing unique values.

In [50]:
name = {"Ayush", "Harshal","Mohit"} # no duplicate values
name

{'Ayush', 'Harshal', 'Mohit'}

In [51]:
#adding int to set
name = {"Ayush","Ayush","Harshal","Mohit",2,4,5} 
name

{2, 4, 5, 'Ayush', 'Harshal', 'Mohit'}

**the order printed is not same as we put into it its a sequential form. set returns in sequential form**

In [52]:
#  let's convert (dict) to set
name = set({"name":"Ayush","name2":"Harshal","name2":"Mohit"}) 
name

{'name', 'name2'}

In [53]:
# converting Tupple to set
name =("Ayush","Harshal","Mohit","moghe","moghe","Ayush",2,2,4,5) 
sets_name = set(name)
sets_name

{2, 4, 5, 'Ayush', 'Harshal', 'Mohit', 'moghe'}

In [54]:
# Converting List to set
name = ["Ayush","Harshal","Mohit","Ayush",2,2,4,5]
sets_name = set(name) 
sets_name

{2, 4, 5, 'Ayush', 'Harshal', 'Mohit'}

In [55]:
# set1 = {"Aysuh"}
name = {'Ayush'}
name

{'Ayush'}

In [56]:
# lets put duplicate value
name = set('Mastrodomenico') # repeted o, m, (case sensetive)
name

{'M', 'a', 'c', 'd', 'e', 'i', 'm', 'n', 'o', 'r', 's', 't'}

**Add List Dict Tupple in Sets**

In [57]:
# Try to add List in sets
my_set = {'A1','A2', 1, 2, ['hello','world']}
# unhashable list

TypeError: unhashable type: 'list'

In [58]:
# same with dict
my_set = {'Tony','Wanda', 1, 2, {'key':'value'}}
# Unhashable dict

TypeError: unhashable type: 'dict'

This operation is only applicable to Tupple bcoz it is immutable whereas dict & list are is not

In [59]:
# with tupple it works
tupple = (1,"ayush",3)
my_set = {'Tony','Wanda', 1, 2, tupple}
my_set

{(1, 'ayush', 3), 1, 2, 'Tony', 'Wanda'}

**Check the value on Sets**

In [60]:
'Tony'  in my_set #case sensetive

True

In [61]:
# add item
names = {'AYush','Harshal',"Mohit"}
names.add("Abhijeet")
names

{'AYush', 'Abhijeet', 'Harshal', 'Mohit'}

**Union |(OR)** : all values including comman

In [62]:
# we can have duplicates in list dict tupple 
# to make it set
# let's have a list
names = {'Ayush','Harshal',"Mohit","Ayush","Harshal","Harshal","Mohit"}
updated_name = set(names)
print(set(updated_name))
print(set('name'))
print(set(name))

{'Ayush', 'Harshal', 'Mohit'}
{'e', 'm', 'n', 'a'}
{'o', 's', 'r', 'c', 't', 'd', 'n', 'M', 'm', 'e', 'i', 'a'}

In [63]:
# Obtain All Values from two Sets
names = {'A1','A2','A3','A4',"A5"}
more_names = {'A4', "A5","A6",'A7', 'A8'}
names | more_names # OR operator

{'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8'}

In [64]:
# union of two sets (comman Values)
names.union(more_names)
# same results no need to pass union in sets

{'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8'}

In [65]:
# set
names = {'A1', 'A2', 'A3', 'A4'}
# List
more_names = ['A5','A2','A6','A4']

names.union(more_names)
# vice versa Error

{'A1', 'A2', 'A3', 'A4', 'A5', 'A6'}

In [66]:
names | more_names
#Typerror: OR unsupported for lis

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [67]:
# (OR) of two or more sets (Union Unsupported)
names = {'A1','A2','A3','A4','A5'}
more_names = {'A6', 'A2', 'A7', 'A4','A5'}
even_more_names = {'A1', 'A8', 'A9', 'A10','A5'}

names | more_names | even_more_names #got all uniquue values from all
# names.union() # Unsupported

{'A1', 'A10', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9'}

In [68]:
# Union set to list (OR supported)
names = {'A1','A2','A3','A4','A5'}
more_names = ['A6', 'A2', 'A7', 'A4','A5']
even_more_names = ['A1', 'A8', 'A9', 'A10','A5']

names.union(more_names,even_more_names)
# names | more_names | even_more_names #Unsupported

{'A1', 'A10', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9'}

**& (and)** : all comman value

In [69]:
names = {'A1','A2','A3','A4','A5'}
more_names = {'A4', 'A5', 'A6', 'A7','A8'}
even_more_names = {'A4', 'A5','A7', 'A8', 'A9', 'A10'}

names & more_names & even_more_names # common in all

{'A4', 'A5'}

In [70]:
names.intersection(more_names,even_more_names)

{'A4', 'A5'}

In [71]:
# add set and list
names = {'A1','A2','A3','A4','A5'}
more_names = ['A6', 'A2', 'A7', 'A4','A5']
even_more_names = ['A1', 'A8', 'A9', 'A10','A5']

# names & more_names # unsupported
names.intersection(more_names,even_more_names)

{'A5'}

**-** : substract

In [72]:
names = {'A1','A2','A3','A4','A5'}
more_names = {'A6', 'A2', 'A7', 'A4','A5'}

names - more_names

{'A1', 'A3'}

In [77]:
names = {'A1','A2','A3','A4','A5'}
more_names = {'A3', 'A4' ,'A5', 'A6','A7'}
even_more_names = {'A6', 'A7', 'A8', 'A9'}
print(names - more_names - even_more_names)
print(names.difference(more_names, even_more_names))

{'A1', 'A2'}
{'A1', 'A2'}

**symmetric_diffrence or ^ operator** : return unique excluding common

In [78]:
names = {'A1','A2','A3','A4'}
more_names = {'A3', 'A4', 'A5', 'A6'}
names ^ more_names
# return value either in set but not in both 
# not include any common values

{'A1', 'A2', 'A5', 'A6'}

In [81]:
names = {'A1','A2','A3','A4','A5'}
more_names = {'A4', 'A5', 'A6', 'A7','A8'}
even_more_names = {'A7', 'A8', 'A9', 'A10'}
names ^ more_names ^ even_more_names
#exclude all common values
# Here A5 is returned as A5^A5 = 0^A5 = A5

{'A1', 'A10', 'A2', 'A3', 'A6', 'A9'}

In [82]:
names.symmetric_difference(more_names)
#  names.symmetric_difference(more_names,even_more_names) # only one attribute supported

{'A1', 'A2', 'A3', 'A6', 'A7', 'A8'}

In [83]:
names = {'A1','A2','A3','A4','A5'}
more_names = ['A4', 'A5', 'A6', 'A7','A8']

# All unique not common
names.symmetric_difference(more_names)

{'A1', 'A2', 'A3', 'A6', 'A7', 'A8'}

**set having any Common Element**

In [84]:
# not common?
names.isdisjoint(more_names)

False

In [85]:
# not commom?
a1 = {'A1',"A2",'A3',"A4"}
b1 = {'A5','A6',"A7"}
a1.isdisjoint(b1)

True

**Remove from set**

In [93]:
names = {'Steve', 'Wanda', 'Peter', 'Tony', 'Natasha'}
print(names)
names.pop()
print(names)

{'Peter', 'Tony', 'Steve', 'Natasha', 'Wanda'}
{'Tony', 'Steve', 'Natasha', 'Wanda'}

In [94]:
names.remove('Natasha') 
names

{'Steve', 'Tony', 'Wanda'}

In [95]:
a1 = {'A1',"A2",'A3',"A4"}
a1.remove('A1')
a1

{'A2', 'A3', 'A4'}

In [96]:
# we try and remove something from the set that isn’t in there (error)
a1.remove('A5')

KeyError: 'A5'

In [99]:
# another way to do this is
a1.discard('A5') # doesnot give Ket error
a1.discard('A3')
a1

{'A2', 'A4'}

In [100]:
 
a1.clear()
a1

set()

**Add**

In [101]:
# adds one at atime
names = {'A1','A2','A3','A4','A5'}
names.add("A5")
names

{'A1', 'A2', 'A3', 'A4', 'A5'}

| is same as .update

In [105]:
# Multiple at a time
names = {'A1','A2','A3','A4','A5'}
more_names = {'A4', 'A5', 'A6', 'A7','A8'}

print(names | more_names) #same
print(names)
names.update(more_names)
print(names)

{'A5', 'A4', 'A7', 'A6', 'A1', 'A8', 'A3', 'A2'}
{'A1', 'A5', 'A2', 'A3', 'A4'}
None
{'A5', 'A4', 'A7', 'A6', 'A1', 'A8', 'A3', 'A2'}

Keep in mind that the | operator creates a new set, while the update method modifies the set in place.

In [106]:
names = {'A1','A2','A3','A4','A5'}
more_names = {'A4', 'A5', 'A6', 'A7','A8'}
even_more_names = {'A7', 'A8', 'A9', 'A10'}

print(names & more_names) #same (new set created)
names.intersection_update(more_names)
names

{'A4', 'A5'}

{'A4', 'A5'}

In [107]:
names # see .int_updt had updted the set in place

{'A4', 'A5'}

**Experinments**

In [111]:
name = "ayush"
print(set('ayush'))
print(set(name))
print(set('name'))

{'s', 'y', 'u', 'h', 'a'}
{'s', 'y', 'u', 'h', 'a'}
{'e', 'm', 'n', 'a'}