## Sets {'--'}
Sets is that they cannot contain duplicate values so can be useful for storing unique values.

In [2]:
name = {"Ayush", "Harshal","Mohit"} # no duplicate values
name

{'Ayush', 'Harshal', 'Mohit'}

In [3]:
#adding int to set
name = {"Ayush","Ayush","Harshal","Mohit",2,4,5} 
name

{2, 4, 5, 'Ayush', 'Harshal', 'Mohit'}

**the order printed is not same as we put into it its a sequential form. set returns in sequential form**

In [83]:
#  let's convert (dict) to list
name = set({"Ayush","Harshal","Mohit",2,4,5}) 
name

{2, 4, 5, 'Ayush', 'Harshal', 'Mohit'}

In [6]:
# converting Tupple to set
name =("Ayush","Harshal","Mohit","Ayush",2,2,4,5) 
sets_name = set(name)
sets_name

{2, 4, 5, 'Ayush', 'Harshal', 'Mohit'}

In [8]:
# Converting List to set
name = ["Ayush","Harshal","Mohit","Ayush",2,2,4,5]
sets_name = set(name) 
sets_name

{2, 4, 5, 'Ayush', 'Harshal', 'Mohit'}

In [9]:
# set1 = {"Aysuh"}
name ={'Ayush'}
name

{'Ayush'}

In [10]:
# lets put duplicate value
name = set('mastrodomenico') # repeted o, m, (case sensetive)
name

{'a', 'c', 'd', 'e', 'i', 'm', 'n', 'o', 'r', 's', 't'}

**Add List Dict Tupple in Sets**

In [11]:
# Try to add List in sets
my_set = {'A1','A2', 1, 2, ['hello','world']}
# unhashable list

TypeError: unhashable type: 'list'

In [12]:
# same with dict
my_set = {'Tony','Wanda', 1, 2, {'key':'value'}}
# Unhashable dict

TypeError: unhashable type: 'dict'

In [13]:
# with tupple it works
my_set = {'Tony','Wanda', 1, 2, (1,2,3)}
my_set

{(1, 2, 3), 1, 2, 'Tony', 'Wanda'}

**Check the value on Sets**

In [14]:
'Tony'  in my_set #case sensetive

True

In [15]:
# add item
names = {'AYush','Harshal',"Mohit"}
names.add("Abhijeet")
names

{'AYush', 'Abhijeet', 'Harshal', 'Mohit'}

**Union |(OR)** : all values including comman

In [16]:
# we can have duplicates in list dict tupple 
# to make it set
# let's have a list
names = {'Ayush','Harshal',"Mohit","Ayush","Harshal","Harshal","Mohit"}
updated_name = set(names)
print(set(updated_name))
print(set('name'))
print(set(name))

{'Ayush', 'Mohit', 'Harshal'}
{'n', 'e', 'a', 'm'}
{'t', 'r', 'i', 'm', 'e', 'a', 'c', 's', 'n', 'd', 'o'}

In [17]:
# Obtain All Values from two Sets
names = {'A1','A2','A3','A4',"A5"}
more_names = {'A7', "A2","A5",'A6', 'A4'}
names | more_names # OR operator

{'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7'}

In [ ]:
# union of two sets (comman Values)
names.union(more_names)
# same results no need to pass union in sets

In [18]:
# set
names = {'A1', 'A2', 'A3', 'A4'}
# List
more_names = ['A5','A2','A6','A4']
names.union(more_names)
# vive versa Error

{'A1', 'A2', 'A3', 'A4', 'A5', 'A6'}

In [ ]:
names | more_names
#Typeerror: OR unsupported for lis

In [19]:
# (OR) of two or more sets (Union Unsupported)
names = {'A1','A2','A3','A4','A5'}
more_names = {'A6', 'A2', 'A7', 'A4','A5'}
even_more_names = {'A1', 'A8', 'A9', 'A10','A5'}

names | more_names | even_more_names #got all uniquue values from all
# names.union() # Unsupported

{'A1', 'A10', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9'}

In [20]:
# Union set to list (OR supported)
names = {'A1','A2','A3','A4','A5'}
more_names = ['A6', 'A2', 'A7', 'A4','A5']
even_more_names = ['A1', 'A8', 'A9', 'A10','A5']

names.union(more_names,even_more_names)
# names | more_names | even_more_names #Unsupported

{'A1', 'A10', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9'}

**& (and)** : all comman value

In [88]:
names = {'A1','A2','A3','A4','A5'}
more_names = {'A4', 'A5', 'A6', 'A7','A8'}
even_more_names = {'A4', 'A5','A7', 'A8', 'A9', 'A10'}

names & more_names & even_more_names # common in all

{'A4', 'A5'}

In [89]:
names.intersection(more_names,even_more_names)

{'A4', 'A5'}

In [23]:
# add set and list
names = {'A1','A2','A3','A4','A5'}
more_names = ['A6', 'A2', 'A7', 'A4','A5']
even_more_names = ['A1', 'A8', 'A9', 'A10','A5']

# names & more_names # unsupported
names.intersection(more_names,even_more_names)

{'A5'}

**-** : substract

In [24]:
names = {'A1','A2','A3','A4','A5'}
more_names = {'A6', 'A2', 'A7', 'A4','A5'}

names - more_names

{'A1', 'A3'}

In [26]:
names = {'A1','A2','A3','A4','A5'}
more_names = {'A4', 'A5', 'A6', 'A7','A8'}
even_more_names = {'A7', 'A8', 'A9', 'A10'}
print(names - more_names - even_more_names)
print(names.difference(more_names, even_more_names))

{'A3'}
{'A3'}

**symmetric_diffrence or ^ operator** : return unique excluding common

In [27]:
names = {'A1','A2','A3','A4'}
more_names = {'A5', 'A2', 'A6', 'A7'}
names ^ more_names
# return value either in set but not in both 
# not include any common values

{'A1', 'A3', 'A4', 'A5', 'A6', 'A7'}

In [86]:
names = {'A1','A2','A3','A4','A5'}
more_names = {'A4', 'A5', 'A6', 'A7','A8'}
even_more_names = {'A7', 'A8', 'A9', 'A10'}
names ^ more_names ^ even_more_names
#exclude all common values
# Here A5 is returned as A5^A5 = 0^A5 = A5

{'A1', 'A10', 'A2', 'A3', 'A6', 'A9'}

In [45]:
names.symmetric_difference(more_names)
#  names.symmetric_difference(more_names,even_more_names) # only one attribute supported

{'A1', 'A3', 'A6', 'A7'}

In [85]:
names = {'A1','A2','A3','A4','A5'}
more_names = ['A4', 'A5', 'A6', 'A7','A8']

# All unique not common
names.symmetric_difference(more_names)

{'A1', 'A2', 'A3', 'A6', 'A7', 'A8'}

**set having any Common Element**

In [50]:
# not common?
names.isdisjoint(more_names)

False

In [52]:
# not commom?
a1 = {'A1',"A2",'A3',"A4"}
b1 = {'A5','A6',"A7"}
a1.isdisjoint(b1)

True

**Remove from set**

In [65]:
names = {'Steve', 'Wanda', 'Peter', 'Tony', 'Natasha'}
names.pop()

'Steve'

In [66]:
names.remove('Peter') 
names

{'Natasha', 'Tony', 'Wanda'}

In [67]:
a1 = {'A1',"A2",'A3',"A4"}
a1.remove('A1')
a1

{'A2', 'A3', 'A4'}

In [68]:
# we try and remove something from the set that isn’t in there (error)
a1.remove('A5')

KeyError: 'A5'

In [71]:
# another way to do this is
a1.discard('A5')
a1.discard('A3')
a1

{'A2', 'A4'}

In [74]:
# Make a empty Set
a1.clear()
a1

set()

**Add**

In [77]:
# adds one at atime
names = {'A1','A2','A3','A4','A5'}
names.add("A5")
names

{'A1', 'A2', 'A3', 'A4', 'A5'}

| is same as .update

In [84]:
# Multiple at a time
names = {'A1','A2','A3','A4','A5'}
more_names = {'A4', 'A5', 'A6', 'A7','A8'}

print(names | more_names) #same
names.update(more_names)
names

{'A3', 'A4', 'A5', 'A8', 'A1', 'A7', 'A6', 'A2'}

{'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8'}

Keep in mind that the | operator creates a new set, while the update method modifies the set in place.

In [97]:
names = {'A1','A2','A3','A4','A5'}
more_names = {'A4', 'A5', 'A6', 'A7','A8'}
even_more_names = {'A7', 'A8', 'A9', 'A10'}

print(names & more_names) #same (new set created)
names.intersection_update(more_names)
names

{'A5', 'A4'}

{'A4', 'A5'}

In [94]:
names # see .int_updt had updted the set in place

{'A4', 'A5'}

**Experinments**

In [ ]:
name = "Ayush"
print(set('Ayush'))
print(set(name))
print(set('name'))